*
!.gitignore
!.gitmodules
!npm
!python

!nvim
!nvim/init.lua
!nvim/README.md

!tmux
!tmux/tmux.conf
!tmux/plugins
!tmux/plugins/tpm
!tmux/color_host.sh

!profile.sh
!rc.sh

!zsh
!zsh/.zshrc
!zsh/.zprofile
!zsh/plugins
!zsh/plugins/zsh-syntax-highlighting
!zsh/plugins/zsh-autosuggestions
!zsh/plugins/gitstatus

!chanwutk.github.io

!displayplacer/
!displayplacer/*.sh

!karabiner/
!karabiner/karabiner.json

!iterm
!iterm/*
!iterm/settings
!iterm/settings/*

!ghostty
!ghostty/config
!ghostty/config
!ghostty/config/*.glsl
